<title>Reclamation</title>
<div class="card-body"></div>
<title>Produit</title>
<div class="card-body">
    <div class="card-title">ADD RECLAMATION</div>
    <hr>
     <form [formGroup]="myForm" (ngSubmit)="addReclamation()">
      
      <div class="form-group">
        <label for="input-5">Subject</label>
        <input class="form-control" id="input-5" formControlName="Subject" ([ngModel])="reclamation.Subject" >
        <div *ngIf="myForm.controls['Subject'].hasError('required')" class="alert alert-danger mt-2">
          <div>Subject  is not valid</div>
      </div>
      </div>
    <div class="form-group">
     <label for="input-5">Description</label>
     <textarea class="form-control" id="input-5" formControlName="description" ([ngModel])="reclamation.description"  rows="5"></textarea>
     <div *ngIf="myForm.controls['description'].hasError('required')" class="alert alert-danger mt-2">
      <div>Description  is not valid</div>
    </div>
    </div>
    <div class="form-group py-2">
      <div class="icheck-material-white">
     <input type="checkbox" id="user-checkbox1" checked=""/>
     <label for="user-checkbox1">I Agree Terms & Conditions</label>
     </div>
    </div>
    <div class="form-group">
     <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> Submit</button>
   </div>
   
   