<br><br>
  <br>
  <table class="table table-hover" *ngIf="user.idUser==authService.idUser || authService.isAdmin()" >
    <thead>
    <tr>
      <th>Picture</th>
      <th>first name</th>
      <th>last name</th>
      <th>profession</th>
      <th>email</th>
      <th>account Category</th>
      <th>birth date</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td><img src="{{user.image}}" style="height: 50px ; width: 50px"> </td>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.profession}}</td>
      <td>{{user.email}}</td>
      <td>{{user.categorieClient}}</td>
      <td>{{user.dateNaissance}}</td>
      <td>
        <button *ngIf="authService.isAdmin()" type="button" class="btn btn-outline-danger" (click)="deleteNotif()">Delete </button>
      </td>
      <td>
        <button *ngIf="user.idUser==authService.idUser" type="button" class="btn btn-outline-info" (click)="updateNotif()">Update</button>
      </td>
    </tr>
    <tbody>
  </table>
