<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body class="bg-theme bg-theme1">

<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
<!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper">

  <div class="card card-authentication1 mx-auto my-4">
    <div class="card-body">
      <div class="card-content p-2">
        <div class="text-center">
          <img src="/../assets/assets/images/logo-icon.png" alt="logo icon">
        </div>
        <div class="card-title text-uppercase text-center py-3">Sign Up</div>
       <form [formGroup]="myForm" (ngSubmit)="addUser()" #a="ngForm">
          <div class="form-group">
            <label  class="sr-only">Name</label>
            <div class="position-relative has-icon-right">
              <input  type="text" name="nom" class="form-control input-shadow"
                      required minlength="3" pattern="[a-zA-Z]+$" #fn="ngModel" placeholder="Enter Your Name"  [(ngModel)]="user.nom" [ngModelOptions]="{standalone: true}">
              <div class="alert alert-danger" *ngIf="fn.invalid && fn.touched ">
                <div *ngIf="fn.hasError('required')">First name is required</div>
                <div *ngIf="fn.hasError('minlength')">First name minlength is equal to 3 </div>
                <div *ngIf="fn.hasError('pattern')">error msg pattern </div>
              </div>
              <div class="form-control-position">
                <i class="icon-user"></i>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="sr-only">surname</label>
            <div class="position-relative has-icon-right">
              <input type="text" name="prenom" required minlength="3" pattern="[a-zA-Z]+$" #fl="ngModel"
                     class="form-control input-shadow" placeholder="Enter Your Surname" [(ngModel)]="user.prenom" [ngModelOptions]="{standalone: true}">
              <div class="alert alert-danger" *ngIf="fl.invalid && fl.touched ">
                <div *ngIf="fl.hasError('required')">Last name is required</div>
                <div *ngIf="fl.hasError('minlength')">Last name minlength is equal to 3 </div>
                <div *ngIf="fl.hasError('pattern')">error msg pattern </div>
              </div>
              <div class="form-control-position">
                <i class="icon-user"></i>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label  class="sr-only">Email ID</label>
            <div class="position-relative has-icon-right">
              <input type="text" name="email" class="form-control input-shadow" placeholder="Enter Your Email ID"
                     required email pattern="^[a-zA-Z0-9._-]+@[a-z0-9.-]+.[a-z]{2,4}?" #fe="ngModel" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
              <div class="alert alert-danger" *ngIf="fe.invalid && fe.touched ">
                <div *ngIf="fe.hasError('required')">email is required</div>
                <div *ngIf="fe.hasError('pattern')">error msg pattern </div>
              </div>
              <div class="form-control-position">
                <i class="icon-envelope-open"></i>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label  class="sr-only">Password</label>
            <div class="position-relative has-icon-right">
              <input type="password" name="password" required  pattern="^[a-zA-Z0-9]{8,}?" #fp="ngModel"
                     class="form-control input-shadow" placeholder="Choose Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
              <div class="alert alert-danger" *ngIf="fp.invalid && fp.touched ">
                <div *ngIf="fp.hasError('required')">password is required</div>
                <div *ngIf="fp.hasError('pattern')">error msg pattern </div>
              </div>
              <div class="form-control-position">
                <i class="icon-lock"></i>
              </div>
            </div>
          </div>
         <div class="form-group">
             <div class="input-group">
               <input class="form-control" type="date" name="dateNaissance"
                      required #fd="ngModel"  [(ngModel)]="user.dateNaissance" [ngModelOptions]="{standalone: true}">
               <div class="alert alert-danger" *ngIf="fd.invalid && fd.touched ">
                 <div *ngIf="fd.hasError('required')">Birth date is required</div>
               </div>
             </div>
           </div>
           <div class="form-group">
             <div class="icheck-material-white">
               <input type="checkbox" id="user-checkbox" checked="" />
               <label for="user-checkbox">I Agree With Terms & Conditions</label>
             </div>
           </div>

           <button type="submit" class="btn btn-light btn-block waves-effect waves-light" [disabled]="a.invalid"  >Sign Up</button>
           <div class="text-center mt-3">Sign Up With</div>

           <div class="form-row mt-4">
             <div class="form-group mb-0 col-6">
               <button type="button" class="btn btn-light btn-block"><i class="fa fa-facebook-square"></i> Facebook</button>
             </div>
             <div class="form-group mb-0 col-6 text-right">
               <button type="button" class="btn btn-light btn-block"><i class="fa fa-twitter-square"></i> Twitter</button>
             </div>
           </div>

         </form>
       </div>
     </div>
     <div class="card-footer text-center py-3">
       <p class="text-warning mb-0">Already have an account? <a href=""> Sign In here</a></p>
     </div>
   </div>




 </div><!--wrapper-->


</body>
</html>
