<br>
<div class="card" style="width: 18rem;">
  <img src="{{rayon.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> title : {{rayon.libelle}}
      <div id="action">
        <button class="btn btn-outline-danger" (click)="deleteNotif()">
          delete
        </button>
        &nbsp;
        <button class="btn btn-outline-info" (click)="updateNotif()">Update</button>
      </div>
    </h5>
    <br>
    <p class="card-text">Code : {{rayon.code}}</p>
    &nbsp;

  </div>
</div>
