<br>
<div class="card" style="width: 18rem;">
  <img src="{{produit.picture}}" class="card-img-top" alt="...">
  <a routerLink="/detailProduit" class="thumbnail product-thumbnail first-img" id="detailProduit">
  </a>
  <div class="card-body">
    <h5 class="card-title">{{produit.libelle}}
      <div id="action">
        <button class="btn btn-outline-danger" (click)="deleteNotif()">delete</button>
        &nbsp;
        <button class="btn btn-outline-info" (click)="updateNotif()">Update</button>
      </div>
    </h5>
    <br>
    <p class="card-text">Prix : {{produit.prixUnitaire}} DT</p>
    &nbsp;
      <button class="btn btn-info" style="float: left" routerLink="/detailProduit/{{produit.idProduit}}"  >
      <img src="../../assets/assets/images/detail.png">
      Show Detail
    </button>
    <button class="btn btn-warning" style="float: right" >
      <img src="../../assets/assets/images/buy.png">
      Buy
    </button>

  </div>
</div>
